<div class="container text-center" track-scroll="div.content">
	<h2 style="color: #ff5450; text-transform: uppercase;">Book Store</h2>
	<div class="row">
		<div class="input-group">
			<div class="input-group-btn">
				<!--<input type="button" class="glyphicon glyphicon-search" />-->
				<input type="text" class="form-control" id="txtSearch" placeholder="What are you looking for?" ng-model="vm.searchBox" />
				<input type="button" class="btn btn-success" id="btnSearch" value="Search" ng-click="vm.searchBook()" />
			</div>
		</div>
		<ol class="breadcrumb" style="text-align: left">
			<li><a href="#/">Home</a></li>
			<li ng-repeat="category in vm.category.ancestors" ng-if="category!=='Books'" ng-class="{'active':$last}">
				<a ng-href="#/category/{{::category}}">{{::category}}</a>
			</li>
		</ol>
	</div>

	<div id="list" class="row">
		<book-cell ng-repeat="book in vm.books" info="book"></book-cell>
	</div>
</div>