.detail-left {
	text-align: center;
	
	img {
		margin-top: 20px;
		width: 100%; 
		max-width: 240px;
	}
}

.detail-right {
	h2, h4 {
		color: #fff;
		text-shadow: 0px 0px 20px #fff;
	}
	.input-group {
		margin: 25px 0px;
		
		label {
			color: #fff;
			text-shadow: 0px 0px 20px #fff;
			background-color: transparent;
			text-align: left;
			border: none;
			font-size: 18px;
			padding-left: 0px;
		}
		
		button {
			width: 60px;
			background-color: #5cb85c;
			border: solid 1px #5cb85c;
			color: #ffffff;
			outline: none;
		}
	}
	
	@media screen and (max-width: 769px) {
		h2 {
			text-align: center;		
		}
	}
}

