.view-animate-container {
  position:relative;
  min-height: 500px;
}

.view-animate {
  	padding:10px;
	background-color: transparent;
  
	&.ng-enter, &.ng-leave {
		@include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s);
		display:block;
		width:100%;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		padding:10px;
	}
	
	&.ng-enter {
		@include translate3d(100%, 0, 0);
		&.ng-enter-active {
			@include translate3d(0, 0, 0);
		}
	}
	
	&.ng-leave.ng-leave-active {
		@include translate3d(-100%, 0, 0);
	}
}
